#login-form-div{
    width: 300px;
    border : 1px solid;
    height: 300px; 
    margin: auto;  
    margin-top: 100px;
    text-align: center;
}

.f1{
    width: 80%;
    margin-bottom: 10px;
    padding: 5px;
}